<!-- frontends/templates/studies/study_44en/sidebar.html -->
{% load static i18n %}
<aside class="sidebar text-white shadow-sm" id="sidebar" aria-label="Study sidebar">
  
  <div class="sidebar-header justify-content-center">
    <div class="sidebar-logo px-2 py-1">
      <img src="{% static 'studies/study_44en/images/logo.webp' %}" alt="44EN Study" 
      style="height: 47px;"/>
    </div> 
  </div>

  <nav class="sidebar-nav">

    <!-- ==================== DASHBOARD SECTION ==================== -->
    <div>
      <p class="sidebar-title">
        {% trans "Dashboard" %}
      </p>

      <a href="{% url 'study_44en:home_dashboard' %}" class="sidebar-item mb-2">
        <i class="bi bi-speedometer2"></i>{% trans "Overview" %}
      </a>
    </div>

    <hr class="sidebar-divider">

    <!-- ==================== HOUSEHOLD SECTION ==================== -->
    <div>
      <p class="sidebar-title">
        {% trans "Household Data" %}
      </p>

      <!-- Household Information Card -->
      <div class="sidebar-card mt-3">
        <div class="sidebar-subtitle mb-2">
          <i class="bi bi-house-door-fill me-2"></i>{% trans "Household Forms" %}
        </div>
        <a href="{% url 'study_44en:household:list' %}" class="sidebar-item mb-2">
          <i class="bi bi-card-list"></i>{% trans "Household List" %}
        </a>
        <a href="{% url 'study_44en:household:create' %}" class="sidebar-item">
          <i class="bi bi-plus-circle"></i>{% trans "New Household" %}
        </a>
      </div>
    </div>

    <hr class="sidebar-divider">

    <!-- ==================== INDIVIDUAL SECTION ==================== -->
    <div>
      <p class="sidebar-title">
        {% trans "Individual Data" %}
      </p>

      <!-- Individual Information Card -->
      <div class="sidebar-card mt-3">
        <div class="sidebar-subtitle mb-2">
          <i class="bi bi-person-fill me-2"></i>{% trans "Individual Forms" %}
        </div>
        <a href="{% url 'study_44en:individual:list' %}" class="sidebar-item mb-2">
          <i class="bi bi-card-list"></i>{% trans "Individual List" %}
        </a>
        <a href="{% url 'study_44en:individual:create' %}" class="sidebar-item">
          <i class="bi bi-plus-circle"></i>{% trans "New Individual" %}
        </a>
      </div>
    </div>

    <hr class="sidebar-divider">

    <!-- ==================== ACTIVITY LOG ==================== -->
    <div>
      <p class="sidebar-title">
        {% trans "Activity Log" %}
      </p>

      <a href="{% url 'study_44en:audit_log_list' %}" class="sidebar-item">
        <i class="bi bi-activity"></i>{% trans "Data Log" %}
      </a>
    </div>
  </nav>

  <div class="sidebar-footer">
    <a href="{% url 'account_logout' %}" class="sidebar-item sidebar-item-danger">
      <i class="bi bi-box-arrow-right"></i>{% trans "Sign Out" %}
    </a>
  </div>

</aside>
