<!DOCTYPE html>
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:'vi' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% trans "ResSynt Research Management Platform" %}">
    <title>{% block title %}{% trans "ResSynt Research Management Platform" %}{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="icon" href="{% static 'base/images/favicon.ico' %}" type="image/x-icon">

    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block base_main %}{% endblock %}

    <script nonce="{{ request.csp_nonce }}" src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script nonce="{{ request.csp_nonce }}" src="{% static 'base/js/jquery-3.7.1.min.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>