/* This file only contains styles unique to the login page.
   All shared styles are in base.css */

/* This custom style is necessary for the blurred background effect */
.blur-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../images/default/bg.webp') no-repeat center center;
    background-size: cover;
    /* Apply the blur effect */
    filter: blur(2px);
    /* Ensure the blurred layer is behind the content */
    z-index: -1;
    /* Improve performance on some browsers */
    transform: scale(1.4); 
}