<!-- frontends/templates/default/dashboard.html -->
{% extends 'base.html' %}
{% load static i18n %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'base/css/dashboard.css' %}">

{% block dashboard_css %}{% endblock %}

{% endblock %}

{% block base_main %}
<div class="sidebar-overlay" id="sidebarOverlay" aria-hidden="true"></div>
  <!-- Sidebar -->
  {% block sidebar %}
  {% endblock %}

  <!-- Main Content -->
  <main class="dashboard-content" id="mainContent">
    <!-- Navbar bên trong main content -->
    {% include 'components/header.html' with show_sidebar_toggle=True show_notifications=True show_back_to_study=True position="sticky-top"%}
    
    <div class="p-3 p-lg-4">
        {% block dashboard_content %}
        {% endblock %}
    </div>
  </main>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
<script nonce="{{ request.csp_nonce }}" src="{% static 'base/js/dashboard.js' %}"></script>

{% block dashboard_js %}{% endblock %}
{% endblock %}

