<!-- frontends\templates\account\auth_base.html -->
{% extends 'base.html' %}
{% load static i18n %}

{% block title %}Sign In - ResSync Platform{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'base/css/authentication.css' %}">
<link rel="stylesheet" href="{% static 'fonts/chakra-petch/chakra-petch.css' %}">
<style>
    html, body {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                    url("{% static 'base/images/bg.jpg' %}") no-repeat center center fixed !important;
        
        background-size: cover !important;
    }
</style>
{% endblock %}

{% block base_main %}
<main class="container-fluid row p-0 m-0">

    <!-- Features Section - Hidden on mobile, visible from lg -->
    <section class="col-lg-7 d-none d-lg-flex flex-column min-vh-100 justify-content-center ps-5 pe-4 py-5">
        {% include 'includes/misc/features_list.html' %}
    </section>

    <!-- Login Section -->
    <section class="col-12 col-lg-5 d-flex flex-column min-vh-100 ps-4 pe-5 py-5">

        <!-- Header with Language Selector -->
        <div class="d-flex justify-content-end align-items-start"> 
            {% include 'includes/component/lang_switcher_glass.html' %}
        </div>
        
        <div class="flex-grow-1 d-flex justify-content-center align-items-center">
            {% block auth_content %}
            {% endblock %}
        </div>
    </section>
</main>
{% endblock %}

{% block extra_js %}
<script nonce="{{ request.csp_nonce }}" src="{% static 'base/js/authentication.js' %}" defer></script>
{% endblock %}