<!-- frontends\templates\account\password_reset.html -->
{% extends 'account/auth_base.html' %}
{% load i18n static allauth account %}

{% block title %}Password Reset - ResSync Platform{% endblock %}
{% block auth_content %}
<div class="p-responsive flex-grow-1 d-flex flex-column justify-content-center">
    <!-- Title and Logo -->
    <div class="text-center mb-1">
        <!-- Logo -->
        <img src="{% static 'base/images/logo.svg' %}" alt="ResSync Logo" height="50">
    </div>
    <!-- Title -->
    <h2 class="card-title text-center fw-bold h3 mb-2">
        {% trans "Forgot Password?" %}
    </h2>
    <!-- Instructional Text -->
    <p class="text-center text-muted mb-4">
        {% trans "Enter your email to receive a reset link." %}
    </p>
    <form method="POST" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        <!-- Email Input Field -->
        <div class="mb-3">
            <label class="form-label fs-5 fw-semibold mb-2 d-flex align-items-center" for="{{ form.login.id_for_label }}">
                <i class="bi bi-envelope-fill me-2 text-muted"></i> {% trans "Email Address" %}
            </label>
            <!-- Using input-group-lg for larger, touch-friendly input -->
            <input type="email" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}"
                class="form-control app-form-control px-4 py-3 fs-5"
                value="{{ form.email.value|default:'' }}" placeholder="{% trans 'Enter your email' %}" required
                autofocus>
        </div>

        <!-- Submit Button -->
        <div class="d-grid mt-3">
            <!-- Using rounded-3 for a slightly rounded button -->
            <button type="submit" class="btn btn-royal-blue w-100 py-3 fw-semibold mb-3 fs-5 rounded-3" id="submitBtn">
                {% trans 'Reset My Password' %}
            </button>
        </div>
    </form>

    <div class="text-center w-100 w-md-75 mx-auto">
        <a href="{% url 'account_login' %}" class="link-royal-blue fw-bold align-items-center">
            <i class="bi bi-arrow-left me-1 icon-bold"></i>
            {% trans "Back to Login" %}
        </a>
    </div>
    <!-- End Form -->
</div>
{% endblock %}