<!-- frontends\templates\account\password_reset.html -->
{% extends 'account/auth_base.html' %}
{% load i18n static allauth account %}

{% block title %}Password Reset - ResSync Platform{% endblock %}
{% block auth_content %}
<div class="auth-card">
    <!-- Title and Logo -->
    <div class="auth-card-header mb-3">
        <h2 class="auth-card-heading">{% trans "Forgot Password?" %}</h2>
        <p class="auth-card-subheading">{% trans "We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes." %}</p>
    </div>

    <div class="registration-notice">
        <a href="{% url 'account_login' %}" class="registration-notice-link">
            <i class="fa-solid fa-chevron-left"></i>
            {% trans "Back to Login" %}
        </a>
    </div>
    <!-- End Form -->
</div>
{% endblock %}