<!-- frontends\templates\account\password_reset.html -->
{% extends 'account/auth_base.html' %}
{% load i18n static allauth account %}

{% block title %}Password Reset - ResSync Platform{% endblock %}
{% block auth_content %}
<div class="auth-card">
    <!-- Title and Logo -->
    <div class="auth-card-header mb-2">
        <h2 class="auth-card-heading">{% trans "Password Reset Complete" %}</h2>
        <p class="auth-card-subheading">
            {% trans "Your account password has been reset successfully." %}
        </p>
    </div>
    
   <div class="registration-notice">
        <a href="{% url 'account_login' %}" class="registration-notice-link">
            <i class="fa-solid fa-chevron-left"></i>
            {% trans "Back to Login" %}
        </a>
    </div>
    <!-- End Form -->
</div>
{% endblock %}