<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 sticky-top">
    <div class="container">
        <a class="navbar-brand fw-bold" href="#">CRF Survey 44EN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="test1.html">Household</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="test2.html">Exposure - Household</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="test3.html">Individual - ENR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="test4.html">Individual - EXP 1/3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="test5.html">Individual - EXP 2/3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="test6.html">Individual - EXP 3/3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="test7.html">Follow-up Day 14</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="test8.html">Follow-up Day 28</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="test9.html">Follow-up Day 90</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="test10.html">Sample Collection</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
