/* Column widths - Optimized */
.table-modern th:nth-child(1),
.table-modern td:nth-child(1) { 
    width: 10%; 
    min-width: 100px;
}

.table-modern th:nth-child(2),
.table-modern td:nth-child(2) { 
    width: 15%; 
    min-width: 200px;
}

.table-modern th:nth-child(3),
.table-modern td:nth-child(3) { 
    width: 15%; 
    min-width: 200px;
}

.table-modern th:nth-child(4),
.table-modern td:nth-child(4) { 
    width: 15%; 
    min-width: 200px;
}

.table-modern th:nth-child(5),
.table-modern td:nth-child(5) { 
    width: 15%; 
    min-width: 80px;
}

.table-modern th:nth-child(6),
.table-modern td:nth-child(6) { 
    width: 15%; 
    min-width: 100px;
}

.table-modern th:nth-child(7),
.table-modern td:nth-child(7) { 
    width: 15%; 
    min-width: 100px;
}