<!-- frontends\templates\includes\simple_header.html -->
{% load static %}
{% load i18n %}
<!-- Header with Logo and Language Switch -->
<nav class="navbar navbar-expand-md bg-white shadow-sm">
    <!-- Logo Section -->
    <div class="container-fluid">
        <!-- Logo Section -->
        <div class="align-content-center">
            <img src="{% static 'images/default/logo.svg' %}" 
                alt="ResSync Logo" 
                height="30"
                class="d-block">
        </div>


        <!-- Language Switcher -->
        <div class="d-flex align-items-center">
            {% include 'includes/dropdown_header/language_selector.html' %}
        </div>
    </div>
</nav>