.form-control.study-search {
    transition: all 0.2s ease-in-out;
}

.form-control.study-search:hover {
    background-color: #f8f9fa !important;
}

.form-control.study-search:focus {
    background-color: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

.input-group.study-search:focus-within {
    border-color: #0d6efd !important;
    box-shadow: none !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group .bi-search {
    transition: color 0.2s ease;
}

.input-group.study-search:focus-within .bi-search {
    color: #0d6efd;
}
