{% load static i18n %}
<!-- Features List Template -->
<div class="mb-4">
    <h1 class="display-4 fw-bold">{% trans "ResSync System" %}</h1>
    <p class="fs-title-1 mb-0">
        {% trans "Analyzing data, shaping the future." %}
    </p>
</div>

<!-- Features List -->
<ul class="d-flex flex-column gap-4 list-unstyled">
    <li class="border glass-effect p-4 rounded-4">
        <div class="d-flex align-items-center gap-4">
            <div>
                <i class="bi bi-database fs-bullet-list"></i>
            </div>
            <div>
                <h3 class="fs-header-list mb-1">
                    {% trans "Efficient Data Management" %}
                </h3>
                <p class="fs-text-list mb-0">
                    {% trans "Robust and scalable solutions for managing research data." %}
                </p>
            </div>
        </div>
    </li>

    <li class="border glass-effect p-4 rounded-4">
        <div class="d-flex align-items-center gap-4">
            <div>
                <i class="bi bi-pencil-square fs-bullet-list"></i>
            </div>
            <div>
                <h3 class="fs-header-list mb-1">
                    {% trans "Streamlined Data Entry" %}
                </h3>
                <p class="fs-text-list mb-0">
                    {% trans "Intelligent CRF entry with built-in validation." %}
                </p>
            </div>
        </div>
    </li>

    <li class="border glass-effect p-4 rounded-4">
        <div class="d-flex align-items-center gap-4">
            <div>
                <i class="bi bi-graph-up-arrow fs-bullet-list"></i>
            </div>
            <div>
                <h3 class="fs-header-list mb-1">
                    {% trans "Dynamic Research Dashboards" %}
                </h3>
                <p class="fs-text-list mb-0">
                    {% trans "Real-time visualization of project progress and data integrity." %}
                </p>
            </div>
        </div>
    </li>

    <li class="border glass-effect p-4 rounded-4">
        <div class="d-flex align-items-center gap-4">
            <div>
                <i class="bi bi-calendar-check fs-bullet-list"></i>
            </div>
            <div>
                <h3 class="fs-header-list mb-1">
                    {% trans "Precise Scheduling and Tracking" %}
                </h3>
                <p class="fs-text-list mb-0">
                    {% trans "Automated notifications and integrated appointment tracking." %}
                </p>
            </div>
        </div>
    </li>
</ul>