<!DOCTYPE html>
{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:'vi' }}" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ResSync Platform - Research Study Management System">
    <title>{% block title %}ResSync Platform{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'font/bootstrap-icons/bootstrap-icons.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  ...

    {% bootstrap_css %}
    {% if BOOTSTRAP_JAVASCRIPT_IN_HEAD %}{% bootstrap_javascript %}{% endif %}
    {% block extra_head %}{% endblock %}
</head>

<body >

    {% block header %}
    {% endblock %}

    {% block main %}
    {% endblock %}

    {% block footer%}
    {% endblock %}

    {% bootstrap_javascript %}
    {% block extra_js %}{% endblock %}
</body>

</html>

