<!DOCTYPE html>
{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
{% bootstrap_setting "color_mode" as COLOR_MODE %}
{% bootstrap_setting "javascript_in_head" as BOOTSTRAP_JAVASCRIPT_IN_HEAD %}
<html lang="{{ LANGUAGE_CODE|default:'vi' }}" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ResSync Platform - Research Study Management System">
    <title>{% block title %}ResSync Platform{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/default/base.css' %}" />

    {% bootstrap_css %}
    {% if BOOTSTRAP_JAVASCRIPT_IN_HEAD %}{% bootstrap_javascript %}{% endif %}
    {% block extra_head %}{% endblock %}
</head>

<body >

    {% block header %}
    {% endblock %}

    {% block main %}
    {% endblock %}

    {% block footer%}
    {% endblock %}

    {% bootstrap_javascript %}
    {% block extra_js %}{% endblock %}
</body>

</html>

