@font-face {
    font-family: 'Chakra Petch';
    src: url('./fonts/ChakraPetch-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Medium (Dùng cho menu, nút bấm - hơi đậm) */
@font-face {
    font-family: 'Chakra Petch';
    src: url('./fonts/ChakraPetch-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Bold (Dùng cho tiêu đề lớn) */
@font-face {
    font-family: 'Chakra Petch';
    src: url('./fonts/ChakraPetch-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}